* {margin:0; padding:0;
  box-sizing: border-box; 
}
body {
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #525A6A;
  background-color: rgb (82,90,106);
}
h1 {
  margin: 8px 38px 0 0;
}
h2 {
  color: #000; font-family: Playfair+Display;
  margin: 140px 0 0 0;
  text-align: center;
  font-size: 42px;
  white-space: nowrap; 
}
a {
  text-align: right;
  position: absolute; 
  bottom: 0; right: 0;
}
p {
  color: #000; font-family: Playfair+Display;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 28px;
  white-space: nowrap; 
}