* {margin:0; padding:0;
  box-sizing: border-box; 
}

body {
  background: url('Assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-color: rgb(82,90,106);
}

hr {
  width: 42px;
  border-color: rgb(244,86,88);
}

#banner {
  background: url("Assets/banner.png") repeat-x;
  height: 15px;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
}

.logo {
  margin-bottom: 30px;
}

.wraptextlogo {
  display: block;
  margin:300px 0 0 120px;
}

p {
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 30px; 
  font-size: 26px;
}
